<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Proman</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PROMAN</title>
</head>
<body>
    <form method="post">
        <label for="username">User name:</label>
        <p><input type=text name=username id=username>
        <p><label for="password">Password:</label>
        <p><input type=password name=password id=password>
        <p><label for="password">Confirm Password:</label>
        <p><input type=password name=password2 id=password2>
        <p><input type=submit value=Register>
    </form>
</body>
</html>
</body>
</html>